@charset "UTF-8";

aside{
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
}
form #form3{
    width: 30%;
    float: right;
}